body {
  margin: 0;
  color: #718096;
  line-height: 1.5;
  font-family: 'Noto Sans', sans-serif;
}

/* reset */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #718096;
  text-decoration: none;
}

/* styles */
.layout {
  display: grid;
  grid-template: 60px 1fr 50px/ 20% 80%;
  height: 100vh;
}

.layout > div {
  border: 1px solid #e2e8f0;
}

.icon {
  height: 26px;
  width: 26px;
}

.user {
  display: flex;
  align-items: center;
}

.user__name {
  margin-left: 5px;
}

.user__image {
  max-width: 100%;
  border-radius: 5px;
}

.channel-header {
  display: flex;
  align-items: center;
}

.create-channel {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.channels li {
  margin-top: 5px;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
}

.channels li:hover {
  background: rgba(17, 34, 51, 0.2);
}

.channels li.active {
  background-color: #667eea;
  color: #fff;
}

.new-message {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.submit {
  border: 0;
  background: none;
}

.new-message input {
  padding: 10px 0;
  border: none;
  width: 95%;
  font-size: 15px;
  outline: none;
  transition: all 0.4s;
}

.new-message .icon {
  transform: rotate(45deg);
  color: #4299e1;
  opacity: 0.4;
}
.new-message input:focus ~ .submit .icon {
  opacity: 1;
}

/* helpers */
.shadow {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.p-10 {
  padding: 10px;
}

.none {
  height: 0px;
  width: 0px;
  display: none;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #d2d4f0;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.old-message {
  filter: opacity(50%);
}

.message-header {
  font-weight: bold;
}
